#box{
	width:100px;
	height:100px;
	background:pink;
	margin: 10px;

}

.box1{
	/*transform: scale(4,2);*/
	animation: move 2s ease-in forwards;
}

.box2{
	transform: translate(40px,2px);
}



@keyframes move {

	0%{
		transform: translate(40px,2px);
	}


	100%{

		transform: scale(4,2) translate(100px,5px);
	}
}